@model IEnumerable<AntiDrugWeb1.Models.alertmeeting>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.alertDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alertTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alertDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alertReport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alertByStaff)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.alertDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alertTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alertDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alertReport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alertByStaff)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.alertID }) |
            @Html.ActionLink("Details", "Details", new { id=item.alertID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.alertID })
        </td>
    </tr>
}

</table>
