@model AntiDrugWeb1.Models.evaluate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>evaluate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.patientIDCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patientIDCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patientLastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patientLastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patientAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patientAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patientAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patientAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.evaluatePoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.evaluatePoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.drugType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.drugType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.evaluateResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.evaluateResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.evaluateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.evaluateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.evaluateByStaff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.evaluateByStaff)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.evaluateID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
